/* Estilo da Título */
.titulo {
    text-shadow: 
    -1px -1px 0 #ffffff71, 
    -1px -1px 0 #ffffff71;
}

/* Estilo geral */
body {
    background-color: #afafaf; 
    color: black;
    font-weight: bold;
}

/* Estilos de Cartão de Produto */
.cartao-produto {
    border: 2px solid #7a7a7a; 
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.507);
    background-color: rgb(236, 236, 236);
    height: 100%; 
}

.card-img-top {
    width: 100%;
    height: 320px; /* Altura padrão */
    object-fit: cover; /* Imagem sempre enquadrada */
}

/* Estilos dos botões */
.d-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.d-flex button {
    flex: 1;
    margin-right: 5px;
}

.d-flex button:last-child {
    margin-right: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    
    .d-flex {
        flex-direction: column; /* Alinha verticalmente */
    }

    .d-flex button {
        width: 100%; /* Garante que todos os botões tenham 100% de largura */
        margin-bottom: 10px; /* Espaçamento entre os botões */
    }

    .col-md-4 {
        width: 100%;
        margin-bottom: 20px;
    }

    .card-img-top {
        height: 320px;
        max-width: 100%;
        object-fit: cover; /* Imagem sempre enquadrada */
    }

    .card-body {
        text-align: center;
    }
    
    .d-flex {
        flex-direction: column; /* Muda para coluna */
        align-items: stretch; /* Garante que os botões ocupem toda a largura */
    }

    .d-flex button {
        width: 100%; /* Garante que todos os botões tenham 100% de largura */
        margin-bottom: 10px; /* Espaçamento entre os botões */
    }
    
}
    /* Para dispositivos maiores (padrão) */
    .d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    /* Para telas menores (celulares) */
    @media (max-width: 576px) {
        .d-flex {
        flex-direction: column;
        align-items: flex-start; /* Alinha os itens à esquerda */
        width: 100%;
        }
    }
